{% extends 'vacancies/base.html' %}

{% block vumogu %}
<h1>{{posada}}</h1>
<p>Інформація про сайт</p>
<p>Сайт призначений для розміщення вакансій, які потребують знаходження працівників. А безробітні, які шукають роботу можуть
знайти відповідну і зв'язатись з роботодавцем. Користувач може не реєструватись і авторизуватись, але тоді він може лише переглядати
вакансії, якщо він зареєструється, то може ще вибрати вакансію і написати дані про себе. Адміністратор перегляне ваші дані
і зателефонує вам. </p>

{% endblock %}
